.drbfd-discogs-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)) !important;
	grid-gap: 10px;
}

.drbfd-blocks-for-discogs-parent {
	margin: auto;
}

.album-cover-div {
	margin-left: auto;
	margin-right: auto;
	min-height: 150px;
}

.discogs-card {
	border-radius: 2%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
	margin: 1%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

.album-title-div h4 {
	font-family: "Helvetica Neue", Helvetica, "Nimbus Sans", Arial, sans-serif !important;
	font-size: 18px !important;
	font-weight: 400;
	margin: 10px 0 10px 0 !important;
	text-transform: none;
}

.album-title-div h5 {
	font-family: "Helvetica Neue", Helvetica, "Nimbus Sans", Arial, sans-serif !important;
	font-size: 14px !important;
	font-weight: 600;
	margin: 7px 0 7px 0 !important;
	text-transform: uppercase;
}

.album-title-div {
	min-height: 80px;
	margin-bottom: 10px;
	margin-top: 5px;
	text-align: center;
}

.album-release-details p {
	font-family: "Helvetica Neue", Helvetica, "Nimbus Sans", Arial, sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5;
	margin: 0;
}

.album-cover-div img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.drbfd-blocks-for-discogs-error {
	font-style: italic;
	padding: 5%;
	border-radius: 2%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
	margin: 1%;
}

.drbfd-loader {
	display: inline-block;
	position: relative;
	width: 100%;
	opacity: 0;
	height: 20px;
}

.drbfd-loader.show {
	opacity: 1;
}

.drbfd-loader::after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: auto;
	border-radius: 50%;
	border: 6px solid #000;
	border-color: #000 transparent #000 transparent;
	-webkit-animation: drbfd-loader 1.2s linear infinite;
	animation: drbfd-loader 1.2s linear infinite;
}

@-webkit-keyframes drbfd-loader {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes drbfd-loader {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
