.drdb-discogs-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

.drdb-discogs-block-parent {
	margin: auto;
}

.album-cover-div {
	margin-left: auto;
	margin-right: auto;
	min-height: 40%;
}

.discogs-card {
	padding: 5%;
	border-radius: 2%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
	margin: 1%;
}

.album-title-div h4 {
	font-family: "Helvetica Neue", Helvetica, "Nimbus Sans", Arial, sans-serif !important;
	font-size: 1.2rem !important;
	text-align: center;
	width: 100%;
}
.discogs-card h5 {
	font-family: "Helvetica Neue", Helvetica, "Nimbus Sans", Arial, sans-serif !important;
	font-size: 0.8rem !important;
	text-align: center;
}
.discogs-card p {
	font-family: "Helvetica Neue", Helvetica, "Nimbus Sans", Arial, sans-serif !important;
	font-size: 0.8rem !important;
	line-height: 0.85rem;
}
.album-cover-div img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.drdb-discogs-block-error {
	font-style: italic;
	padding: 5%;
	border-radius: 2%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
	margin: 1%;
}

.drdb-loader {
	display: inline-block;
	position: relative;
	width: 100%;
	opacity: 0;
}

.drdb-loader.show {
	opacity: 1;
}

.drdb-loader {
	display: inline-block;
	height: 20px;
}

.drdb-loader:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: auto;
	border-radius: 50%;
	border: 6px solid black;
	border-color: black transparent black transparent;
	-webkit-animation: drdb-loader 1.2s linear infinite;
	animation: drdb-loader 1.2s linear infinite;
}

@-webkit-keyframes drdb-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes drdb-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
